extends layout

block content
  //h1= title

  p 
  

  ul 快捷入口
    li
      text  新闻 &nbsp;&nbsp;
      
      a(href='https://cn.reuters.com') reuters 
      |
      |
      test &nbsp;&nbsp;
      a(href='https://twitter.com/') twitter 
      |
      |
      
    li 
      text  金融 &nbsp;&nbsp;
      a(href='https://www.google.com/search?source=hp&ei=oZZ2W5bGA8ee0wLVz5igBg&q=%E7%BE%8E%E5%85%83%E4%BA%BA%E6%B0%91%E5%B8%81&oq=%E7%BE%8E%E5%85%83%E4%BA%BA%E6%B0%91%E5%B8%81&gs_l=psy-ab.3..0i12k1l10.1329.8835.0.9163.41.28.4.0.0.0.548.3585.2-5j4j1j1.12.0..2..0...1.1j4.64.psy-ab..30.11.2207.6..0j35i39k1.316.DDbEK87oLjw') 美元人民币 
      | 
      |
      test &nbsp;&nbsp;
      a(href='https://www.blockchain.com/markets') 币市
      |
      |
    li 
        text  其它 &nbsp;&nbsp;
        a(href='https://www.google.com') Google   
        | 
        |
        test &nbsp;&nbsp;
        a(href='https://translate.google.com') 翻译 
        |
        |

  
  ul 洞见
    li
      text  银行行业:
      |
      |
      a(href='http://www.mckinsey.com.cn/insights/banking-insurance/') 麦肯锡洞见：银行与保险
      |
      |
      
    
  



  include includes/foot.pug
  
  