extends layout

block content
 
  mixin link(href, name)
    a(href=href)= name

  mixin user(data)
    li
        p.name= data.name
        - if(data.links)
          for data2 in data.links
            p.links= data2.name +": "
              for data3 in data2.values
                +link(data3.url, data3.desc)(class="btn") 
        - else
          text 敬请期待
  
  ul.user-list
      for data in userdata
          +user(data)

  ul  
    li 工商银行购汇
      table
        tr
          td 币种
          td 最新价
        tr 
          td 美元/人民币
          td 
            = rate?rate.USDrate:''
        tr 
          td 港币/人民币
          td 
            = rate?rate.HKDrate:''
 

  include includes/foot.pug
  
  